<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title><!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .box{
            width:200px;
            height: 200px;
            border:1px solid #ccc;
        }
    </style>
</head>
<body>
    <div id="app">
        R:<input type="text" v-model="r">
        G:<input type="text" v-model="g">
        B:<input type="text" v-model="b">
        <br>
        <div class="box" :style="{backgroundColor: rgb}">
        {{rgb}}</div>
        <button @click="show">按钮</button>
    </div>
    
    
    
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <script>
        // 定义了全局的filter过滤器函数
        // 全局过滤器和私有过滤器发生冲突,优先使用私有过滤器
        const vm = new Vue({
            el:'#app',
            data:{
                r:0,
                g:0,
                b:0,
            },
            // 事件等的方法函数
            methods:{
                show(){
                    console.log(this);
                    console.log(this.rgb);
                }
            },
            // 过滤器函数必须要有返回值
            filters:{
            },
            // 侦听器,侦听数据的变化
            watch:{
            },
            // 计算属性,计算出来的属性值可以被模板结构或者 methods 节点下的方法使用.
            // 计算属性: 定义的时候是方法,使用的时候是 vm 实例对象中的属性
            // 计算属性: 必须有返回值
            computed:{
                rgb(){
                    return `rgb(${this.r},${this.g},${this.b})`;
                }
            }
        })
    </script>
</body>
</html>